/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    color: #333;
  }
  
  #controls {
    margin-bottom: 50px;
    text-align: center;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input[type="range"] {
    width: 200px;
  }
  
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #e74c3c;
  }
  
  .line {
    width: 300px;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-link:hover + .line, .line:hover {
    background-color: #e74c3c;
    transform: scaleX(1.2);
  }
  